<div class="container">
	<footer class="footer">
		<small>
			conpyright &copy; <a href="http://www.facebook.com/adel.almaleh">the complete ruby </a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "about", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>